.bundle
debug.log
doc/rdoc
activeresource/doc
activerecord/doc
actionpack/doc
actionmailer/doc
activesupport/doc
railties/test/500.html
railties/doc/guides/html/images
railties/doc/guides/html/stylesheets
railties/guides/output
.idea
